* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #212121;
  font-family: monospace;
}
.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  height: 10%;
  width: 100%;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 15px 1em;
}
.logo {
  background-color: rebeccapurple;
  border-radius: 50%;
  padding: 1%;
  font-weight: bolder;
  font-size: large;
}
.search {
  padding: 8px 18px;
  background-color: #4a4a4a;
  border: none;
  border-radius: 8px;
  width: 20%;
  font-weight: bold;
}
.cards {
  background-color: white;
  border-radius: 8px;
}
.cards:last-child{
  grid-column: 3;
  grid-row: 1/3;
  height: fit-content;
  background-color: white;
}
.cards:nth-child(1){
 grid-column: 1/3;
 background-color: rgb(208, 231, 239);
}
.content {
  height: 100%;
  width: 100%;
  background-color: rgb(208, 231, 239);
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: auto 1fr 1fr;
  gap: 1em;
  padding: 65px 155px;
}
.extra {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 1em;
}
.drag{
  border: 2px dotted grey;
  padding: 5%;
  border-radius: 8px;
}
.extra button {
  background-color: #212121;
  color: white;
}
.graphic {
  height: 50%;
  width: 100%;
  background-color: rgb(106, 11, 250);
  border-radius: 8px 8px 0px 0px;
}
.info {
  height: 40%;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  justify-content: space-between;
}
.blue {
  background-color: rgb(35, 168, 221);
}
.orange {
  background-color: tomato;
}
.cyan {
  background-color: darkcyan;
}
button {
  font-weight: bold;
  padding: 6px;
  border: 1px solid rgb(169, 169, 169);
  border-radius: 8px;
}
.timing {
  background-color: rgb(169, 169, 169);
  width: fit-content;
  padding: 5px 8px;
  border-radius: 15px;
  font-weight: bold;
}
